* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background settings */
.background img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Game */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.whole-game {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header h1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid;
}

.battlefield {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    height: 300px;
    position: relative;
}

.player-battle, .computer-battle {
    position: relative;
}

.block-stage {
    width: 100%;
    max-width: 125px;
    height: auto;
}

.middle p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.player-choices {
    text-align: center;
}

.player-choices p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.player-choices button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Great addition to the buttons to give them effects */
}

.player-choices button:hover { /* Adds the effects from transition to the buttons */
    background-color: #bbb;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character-choice {
    position: absolute;
    width: 100px;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.character-choice.mario {
    top: -170px; 
    width: 75px; 
}

.character-choice.peach {
    top: -165px;
    width: 105px;
}

.character-choice.bowser {
    top: -165px;
    width: 130px;
    left: 75px;
}

#mario {
    background-color: red;
}

#peach {
    background-color: #e879f9;
}

#bowser {
    background-color: #ffcc00;
}